::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.6);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b49067;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.reco-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

/* reco box */

.reco-box {
  background: #222;
  padding: 2px;
  border-radius: 2px;
  text-align: center;
  color: white;
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  height: 300px;
  cursor: pointer;
}

.reco-box h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.reco-box p {
  font-size: 14px;
  font-weight: bold;
  margin: 5px 0;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}

.long-desc {
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  padding: 5px;
  ;
  border-radius: 4px;
}

.google-desc {
  font-size: 14px;

  padding: 5px;
  border-radius: 4px;
  margin-top: 5px;
  overflow-wrap: break-word;
  white-space: normal
}

/* reco instructions */
.reco-instructions {
  text-align: center;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 2px dashed rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}


.reco-instructions p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  margin: 10px 0;
}



/* very basic styling for the reco form */
.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #b49067;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
}


.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.close {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}


.modal-form form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}


.modal-form input,
.modal-form textarea {
  border: 1px solid #120101;
  padding: 12px;
  font-size: 16px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d4ad80;
}

.modal-form textarea {
  height: 100px;
  resize: vertical;
}

.input-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.leftside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightside {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border-radius: 8px;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* checkboxes */
.checkboxes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: 0;

}

.checkboxes label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  white-space: nowrap;

}

.checkboxes input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0;
  flex-shrink: 0;
}



.button-group {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.button-group button {
  flex: 1;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.cancel {
  background: #cbb1b1;
}

.submit {
  background: rgba(32, 143, 26, 0.554);
  color: rgb(0, 0, 0);
}

.delete {
  background: rgba(216, 13, 13, 0.697);
  color: rgb(0, 0, 0);
}

/* reco box image styling */
.reco-image {
  width: 100%;

  height: 200px;

  object-fit: cover;

  border-radius: 8px;
  display: block;
}



/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222;

  color: white;
  padding: 15px 15px;
  font-size: 18px;
}

.navbar h1 {
  margin: 0;
  font-size: 22px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar button {
  background: rgba(255, 0, 0, 0.613);
  color: white;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

/* reco navbar */
.reco-navbar {
  display: flex;
  justify-content: space-around;
  background: #333;
  padding: 0px 0;
}

.reco-navbar button {
  flex: 1;
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  padding: 12px;
  cursor: pointer;
}

/* */
.reco-reviews {
  display: flex;

  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: white;
  margin-top: 5px;
  justify-content: center;
}

.reco-reviews .stars,
.reco-reviews .ratings,
.reco-reviews .price {
  display: inline-block;
  white-space: nowrap;
}

/* reco box back */
.reco-back {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.edit-button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.reco-back a {
  color: #ffd700;
  text-decoration: none;
  font-weight: bold;
}

.reco-back a:hover {
  color: #ffcc00;
  text-decoration: underline;
}

.reco-back button {
  background: rgba(219, 220, 218, 0.554);
  color: rgb(0, 0, 0);
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  text-align: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}

/* prompt bar styling */
.prompt-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5a4123;
  padding: 20px;
}


.prompt-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
  width: 95%;
}

.input {
  width: 100%;
  min-height: 60px;
  padding: 12px;
  font-size: 21px;
  border: 2px solid #ddb5b5;
  color: #42ff2d;
  background-color: #000000;
  border-radius: 8px;
  resize: vertical;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}


.input:focus {
  border-color: #0554a9;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.char-counter {
  font-size: 14px;
  color: #ffffff;
  font-size: 14;
  white-space: nowrap;
}

.generate {
  background-color: #4a698a;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.generate:hover {
  background-color: #0056b3;
}

.generate:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}